templates/index.slim
doctype html
html lang="pt-BR"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content="Site da Digital Iko Tema"

    title Iko Tema

    link href="static/css/estilo.css" rel="stylesheet"

  body

    img.logo src="static/img/arvore.gif"

    h1
      span.digital-font Digital
      span.native-font Iko Tema

    p
      strong:a href="https://pt.wikipedia.org/wiki/L%C3%ADngua_guarani" Guarani:
      ,
      a href="http://www.geocities.ws/indiosbr_nicolai/dooley/ptgn.html" -iko tema → viver em liberdade
    p
      em Viver em liberdade digital.

public/index.html
<!DOCTYPE html><html lang="pt-BR"><head><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta name="viewport" content="width=device-width, initial-scale=1"/><meta name="description" content="Site da Digital Iko Tema"/><title>Iko Tema</title><link href="static/css/estilo.css" rel="stylesheet"/></head><body><img src="static/img/arvore.gif" class="logo"/><h1><span class="digital-font">Digital</span><span class="native-font">Iko Tema</span></h1><p><strong><a href="https://pt.wikipedia.org/wiki/L%C3%ADngua_guarani">Guarani:</a></strong> <a href="http://www.geocities.ws/indiosbr_nicolai/dooley/ptgn.html">-iko tema → viver em liberdade</a></p><p><em>Viver em liberdade digital.</em></p></body></html>
